
/* src/App.css */
footer {
    background-color: #8ec0f1; /* Couleur de fond claire */
    padding: 40px 0; /* Espacement autour du contenu */
    display: flex;
  }
  
  footer h5 {
    font-weight: bold;
  }
  
  footer ul {
    padding-left: 0;
    list-style: none;
  }
  
  footer ul li a {
    color: #343a40;
    text-decoration: none;
  }
  
  footer ul li a:hover {
    text-decoration: underline;
  }
  
  .flex_s{
    display: flex;
    justify-content: space-between;
  }



  